*{
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
    color:#ffe81f;
    background-color: #1a1a1a;
}

html{
    height: 100%;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    
}

.topnav{
    display: flex;
    justify-content: center;
}
.topnav input[type=text] {
    /* float: right; */
    padding: 6px;
    
    border: 1px solid #ccc;
    font-size: 17px;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}

.aTag{
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 2px 2px black;
}

.card {
    margin-top: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 30%;
    text-align: center;
    background-color: black;
    color:#ffe81f;
}

.singleCard{
    margin: auto;
    padding: 0px;
    width: 50%;
    text-align: center;
    background-color: #1a1a1a;
    color:#ffe81f;
}

.singlePageFont{
    font-size: 25px;
}

.singlePageFontBigger{
    font-size: 30px;
    text-decoration: underline;
}

.weatherBorder{
    margin-left: 12vw;
    margin-right: 12vw;
    border: 2px solid white;
}

#planet-desc{
    margin-left: 12vw;
    margin-right: 12vw;
}

.black{
    background-color: #1a1a1a;
}

.card-content{
    background-color: #1a1a1a;
}

body {
    background-color: black;
}

/* makes the nav bar black*/
.navbar {
    background-color: black;
}
/* Home button yellow */
.navbar-item {
    color: #ffe81f;
}
/* menu link yellow */
.navbar-link {
    color: #ffe81f;
}
/* items in menu */
.navbar-dropdown .navbar-item {
    color: black;
    background-color: #ccc;
}
/* picture header */
.pictureContainer {
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 10px;
}

.submit-btn{
    text-decoration: none;
    font-size: 16px;
    padding: 16px 20px;
    cursor:pointer;
    border-radius: 10px;
    border: none;
    display: inline-block;
}

.search-bar-border {
    border-style:double;
    background-color: #1a1a1a;
    padding: auto;
}

.submit-btn:hover {
    background-color: #ffe81f;
}

.planet-bar-border {
    border-style: solid;
    border-width: 10%;
    border-color: whitesmoke;
    margin-left: 2in;
    margin-right: 2in;
    margin-bottom: 1in;
    background-color: black;
    padding: 2px;
    box-shadow: 0 10px 10px 2px red;
}

.climate-bar-border {
    border-style: solid;
    border-width: 10%;
    border-color: whitesmoke;
    margin-left: 2in;
    margin-right: 2in;
    background-color: black;
    padding: 2px;
    box-shadow: 0 10px 10px 2px royalblue;
}

/* cards design */
.homePageCard {
    border-style: solid;
    border-width: 10px;
    margin-top: 8%;
    box-shadow: 0 8px 8px 0 black;
    padding: 16px;
    width: 60%;
    text-align: center;
    color: royalblue;
    font-size: 24px;
    box-shadow: 0 6px 10px black;
    display: inline-block;
}

h1 {
    font-size: 3rem;
    word-spacing: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 50%;
    color: #ffe81f;
    background-color: unset;
}

.submit-btn {
    background-color: black;
    color: #ffe81f;
    font-family: 'Goldman', cursive;
}

h3{
    background-color: unset;
}

.goBackButton{
    background-color: #1a1a1a;
    color: #ffe81f;
    font-family: 'Goldman', cursive;
}

.noButtonBorder{
    padding: 0;
    border: none;
    background: none;
}

select{
    font-family: 'Goldman', cursive;
}

.submit-btn {
    background-color: whitesmoke;
    color: black
}

.footer {
    color: #ffe81f;
    text-align: center;
    font-size: 25px;
    background-color: black;
}

.footer-container {
    background-color: black;
}

br {
    background: black;
}

#planetsList {
    background-color: whitesmoke;
    margin-left: 1in;
    margin-right: 1in;
    margin-bottom: 30px;
    width: 50%;
    font-size: 13px;
    font-family: Goldman;
}

#climatesList {
    background-color: whitesmoke;
    margin-left: 1in;
    margin-right: 1in;
    margin-bottom: 30px;
    width: 50%;
    font-size: 13px;
    font-family: Goldman;
} 
